/ = f.label field.permitted_attribute
/ = f.select(field.permitted_attribute) do
/   = options_for_select(field.data.try(:to_s), field.selected_option)

- class_name = field.attribute.to_s.camelize.safe_constantize
= f.input field.permitted_attribute, as: :select, collection: class_name.all, include_blank: true, label_method: :to_s, input_html: {class: "form-control js-select2"}
