- if field.data
  = link_to(                             |
      field.data.try(:to_s),             |
      [namespace, field.data],           |
    )                                    |
- else
  = "-"