.container
  .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
    .login-panel.panel.panel-default
      .panel-heading
        %h2.text-center.mb20
          Forgot your password?
      .panel-body
        = simple_form_for(resource, as: resource_name, wrapper: 'default', url: password_path(resource_name), html: { method: :post }) do |f|
          .form-inputs          
            = f.input :email, placeholder: AdminUser.human_attribute_name(:email), required: false, input_html: {class: "form-control"}
          %div.devise-button
            = f.button :submit, "Send me reset password instructions" ,class: "btn btn-block btn-lg btn-success"
        = render "devise/shared/links"